exp_name: "@{dataset.name}_@{network.name}_@{trainer.name}_e@{optimizer.num_epochs}_lr@{optimizer.lr}/s@{seed}"
output_dir: ./results/
save_output: True
seed: 0

num_gpus: 1
num_workers: 8
num_machines: 1

# No unnecessary OpenOOD clutter
mark: default

# -------- PREPROCESSOR --------
preprocessor:
  name: base

# -------- NETWORK --------
# -------- NETWORK --------
network:
  name: resnet50
  num_classes: 1000
  pretrained: True
  pretrained_ckpt: "data/imagenet_resnet50_base_e30_lr0.001_randaugment-2-9/s0/best.ckpt"

# -------- PIPELINE --------
pipeline:
  name: train

trainer:
  name: psychophysical

evaluator:
  name: base

# -------- OPTIMIZER --------
optimizer:
  name: sgd
  num_epochs: 50
  lr: 0.01
  momentum: 0.9
  weight_decay: 0.0005

# -------- AUGMENTATION --------
#augment:
#  randaugment:
#    num_ops: 2
 #   magnitude: 9
#  random_resized_crop: true
#  random_horizontal_flip: true

# -------- LR SCHEDULER --------
scheduler:
  name: multistep
  milestones: [10, 20]
  gamma: 0.1
dataset:
  train:
    dataset_class: PsychoImglistDataset
    data_dir: ./data/images_largescale/
    imglist_pth: "__INJECTED__"
    batch_size: 128
    shuffle: True
    inetc_weighting: {epsilon: 0.1}
  val:
    dataset_class: PsychoImglistDataset
    data_dir: ./data/images_largescale/
    imglist_pth: "__INJECTED__"
    batch_size: 128
    shuffle: False
    inetc_weighting: {epsilon: 0.1}
  test:
    dataset_class: PsychoImglistDataset
    data_dir: ./data/images_largescale/
    imglist_pth: "__INJECTED__"
    batch_size: 128
    shuffle: False
    inetc_weighting: {epsilon: 0.1}
